<a href="https://colab.research.google.com/github/ancestor9/2025_Fall_AI-Model-Operations-MLOps/blob/main/week09_Chavrusa_04/gemini_pydantic_more_robust.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Structure gemini outputs with Pydantic
- Pydantic Î™®Îç∏ÏùÑ LLM(Gemini)Ïùò Ï∂úÎ†• Íµ¨Ï°∞Î•º Î≥¥Ïû•ÌïòÎäî ÎèÑÍµ¨Î°ú ÏÇ¨Ïö©ÌïòÎäî Í∞ÄÏû• Í∞ïÎ†•ÌïòÍ≥† ÌëúÏ§ÄÏ†ÅÏù∏ Î∞©Î≤ï

In [3]:
from google.colab import userdata
GEMINI_API_KEY = userdata.get('gemini-key')

from google import genai
client = genai.Client(api_key=GEMINI_API_KEY)

In [5]:
from pydantic import BaseModel

class Recipe(BaseModel):
    recipe_name: str
    description: str
    ingredients: list[str]

response = client.models.generate_content(
    model = "gemini-2.5-flash",
    contents = "List a few asian soups recipes, a yummy description and list the ingredients",
)

print(response.text)

Here are a few popular Asian soup recipes, each with a yummy description and its key ingredients:

---

### 1. **Tom Yum Goong (Thai Hot & Sour Shrimp Soup)**

**Yummy Description:** Get ready for an explosion of vibrant flavors! This iconic Thai soup is a thrilling dance of hot, sour, salty, and a hint of sweet. Fragrant lemongrass, galangal, and kaffir lime leaves infuse a clear, fiery broth, studded with succulent shrimp and earthy mushrooms. It's incredibly aromatic, refreshingly zesty, and guaranteed to awaken your taste buds with its exhilarating spice and tangy kick.

**Key Ingredients:**

*   **Broth Base:** Chicken or vegetable broth
*   **Aromatics:** Fresh lemongrass (bruised), galangal (sliced), kaffir lime leaves (torn), bird's eye chilies (fresh or chili paste/Prik Pao)
*   **Protein:** Fresh large shrimp (peeled and de-veined)
*   **Vegetables:** Straw mushrooms or oyster mushrooms, cherry tomatoes (optional)
*   **Seasoning:** Fish sauce, fresh lime juice
*   **Garnish:** Fresh cilantro leaves

---

### 2. **Pho Bo (Vietnamese Beef Noodle Soup)**

**Yummy Description:** Imagine a bowl of pure comfort and aromatic bliss. Pho Bo is a deeply savory and complex beef broth, slow-simmered for hours with warming spices like star anise, cinnamon, and cloves. It's ladled over silky rice noodles and thin slices of tender beef (often rare steak, brisket, or flank), then garnished with a generous scattering of fresh herbs. Each spoonful is a journey of fragrant warmth, delicate sweetness, and profound umami, perfectly balanced and incredibly satisfying.

**Key Ingredients:**

*   **Broth Base:** Beef bones (marrow, knuckle) for a rich stock, often combined with beef brisket or flank
*   **Aromatics (toasted):** Star anise, cinnamon sticks, cloves, black cardamom, coriander seeds, charred ginger, charred onion
*   **Noodles:** Flat rice noodles (Banh Pho)
*   **Protein:** Thinly sliced raw beef (e.g., eye of round, sirloin), cooked beef slices (e.g., brisket, flank)
*   **Seasoning:** Fish sauce, rock sugar
*   **Garnishes (served on the side):** Fresh basil, mint, cilantro, bean sprouts, lime wedges, sliced jalape√±os or bird's eye chilies, hoisin sauce, Sriracha

---

### 3. **Japanese Miso Soup**

**Yummy Description:** This heartwarming Japanese staple is pure simplicity and savory depth. A light yet incredibly flavorful dashi broth (made from kombu and bonito flakes) provides the foundation, into which umami-rich miso paste is gently whisked. Floating within are delicate cubes of silky tofu and tender strands of wakame seaweed, all finished with a sprinkle of vibrant green onions. It's a comforting, wholesome, and elegantly satisfying soup that perfectly complements any meal.

**Key Ingredients:**

*   **Broth Base:** Dashi (Japanese stock made from kombu seaweed and katsuobushi/dried bonito flakes)
*   **Flavoring:** Miso paste (shiro/white, awase/mixed, or aka/red, depending on desired richness)
*   **Protein:** Soft or silken tofu (cubed)
*   **Vegetables:** Dried wakame seaweed (rehydrated)
*   **Garnish:** Sliced green onions (scallions)

---

### 4. **Chinese Hot & Sour Soup**

**Yummy Description:** Prepare for a tantalizing rollercoaster of flavors! This classic Chinese soup is a zesty dance between piquant and tangy, with a luxurious, silky texture. A savory broth is enriched with shredded pork or chicken, slivered wood ear mushrooms, bamboo shoots, and firm tofu. A generous kick of white pepper and a splash of vinegar create its signature "hot and sour" profile, all beautifully thickened with a cornstarch slurry and finished with elegant egg ribbons. It's truly an invigorating and deeply satisfying bowl.

**Key Ingredients:**

*   **Broth Base:** Chicken or pork broth
*   **Protein:** Shredded pork or chicken breast
*   **Vegetables/Add-ins:** Wood ear mushrooms (dried and rehydrated, then slivered), bamboo shoots (shredded), firm tofu (cubed or slivered), dried lily flowers (optional), beaten egg
*   **Seasoning:** Soy sauce, rice vinegar, white pepper, sesame oil
*   **Thickener:** Cornstarch slurry
*   **Garnish:** Sliced green onions (scallions)

## Ïä§ÌÇ§ÎßàÎ•º Ïù¥Ïö©Ìïú LLM Ï∂úÎ†• Í∞ïÏ†ú Íµ¨Ï°∞Ìôî
- ÌîÑÎ°¨ÌîÑÌä∏ ÎÇ¥ ÏßÄÏãú(Text Prompting)Ïóê ÏùòÏ°¥ÌïòÏßÄ ÏïäÍ≥†, Pydantic Î™®Îç∏ÏùÑ JSON Ïä§ÌÇ§ÎßàÎ°ú Î≥ÄÌôòÌïòÏó¨ Gemini APIÏóê Ï†ÑÎã¨Ìï®ÏúºÎ°úÏç®, Î™®Îç∏Ïù¥ Î∞òÎìúÏãú Ïú†Ìö®Ìïú JSON ÌòïÏãùÏùò Îç∞Ïù¥ÌÑ∞Î•º ÏÉùÏÑ±ÌïòÎèÑÎ°ù Í∞ïÏ†ú

In [22]:
Recipe(recipe_name='Sample Recipe', description='This is a sample recipe.', ingredients=['ingredient1', 'ingredient2'])

Recipe(recipe_name='Sample Recipe', description='This is a sample recipe.', ingredients=['ingredient1', 'ingredient2'])

In [15]:

response = client.models.generate_content(
    model = "gemini-2.5-flash",
    contents = "List a few asian soups recipes, a yummy description and list the ingredients",
    config = {"response_mime_type": "application/json", # üí° Ï∂úÎ†•ÏùÑ JSONÏúºÎ°ú ÏöîÏ≤≠
              "response_schema": list[Recipe]}          # üí° Ïù¥ JSON Ïä§ÌÇ§ÎßàÎ•º Îî∞Î•¥ÎèÑÎ°ù Í∞ïÏ†ú
)

print(response.text)

[{"recipe_name":"Tom Yum Goong","description":"A classic spicy and sour Thai soup, famous for its vibrant flavors, aromatic herbs, and plump shrimp. It's a tantalizing balance of hot, sour, salty, and sweet, often garnished with fresh cilantro.","ingredients":["Shrimp","Mushrooms","Lemongrass","Galangal","Kaffir lime leaves","Fish sauce","Lime juice","Chili paste (Nam Prik Pao)","Cilantro","Water or chicken broth"]},{"recipe_name":"Miso Soup","description":"A comforting and savory traditional Japanese soup made from dashi (a fish and kelp stock) and miso paste. It's often served with tofu and wakame seaweed, offering a delicate umami flavor.","ingredients":["Dashi (water, kombu, bonito flakes)","Miso paste","Tofu (silken or firm)","Wakame seaweed","Green onions"]},{"recipe_name":"Pho Bo (Vietnamese Beef Noodle Soup)","description":"Vietnam's beloved national dish, a fragrant and deeply flavorful beef noodle soup. It features a rich, clear broth simmered for hours with spices, served with tender slices of beef, rice noodles, and a plate of fresh herbs for garnish.","ingredients":["Beef bones","Beef brisket or sirloin","Rice noodles","Onions","Ginger","Star anise","Cinnamon stick","Cardamom pods","Fish sauce","Sugar","Bean sprouts","Basil","Mint","Lime wedges","Chilies"]}]

In [16]:
type(response.text)

str

## simulate house prices

In [28]:
from typing import Literal

class Home(BaseModel):
    price: int
    monthly_fee: int
    living_area: float
    number_rooms: int
    type: Literal["apartment", "house"]
    address: str



response = client.models.generate_content(
    model = "gemini-2.5-flash",
    contents = """List 50 apartments and houses in Sweden with their monthly_fee, their price, living area,
    number of rooms, address, type if it is apartment or house.
    All currencies are in SEK.""",
    config = {"response_mime_type": "application/json",
              "response_schema": list[Home]}
)


homes = response.parsed
homes

[Home(price=2500000, monthly_fee=3500, living_area=75.5, number_rooms=3, type='apartment', address='Storgatan 12, Stockholm'),
 Home(price=4800000, monthly_fee=2500, living_area=120.0, number_rooms=5, type='house', address='V√§stra V√§gen 8, G√∂teborg'),
 Home(price=1800000, monthly_fee=2800, living_area=50.0, number_rooms=2, type='apartment', address='Lilla All√©n 5, Malm√∂'),
 Home(price=3200000, monthly_fee=1800, living_area=90.0, number_rooms=4, type='house', address='Gr√∂na Gatan 15, Uppsala'),
 Home(price=2100000, monthly_fee=4200, living_area=65.0, number_rooms=3, type='apartment', address='Norra Parkv√§gen 7, Lund'),
 Home(price=5500000, monthly_fee=3000, living_area=150.0, number_rooms=6, type='house', address='Skogsv√§gen 22, Link√∂ping'),
 Home(price=1600000, monthly_fee=3100, living_area=45.0, number_rooms=2, type='apartment', address='√ñstra Hamngatan 3, Helsingborg'),
 Home(price=3900000, monthly_fee=2200, living_area=105.0, number_rooms=4, type='house', address='Solrosv√§gen 10, √ñrebro'),
 Home(price=2900000, monthly_fee=3800, living_area=80.0, number_rooms=3, type='apartment', address='Kungsgatan 1A, J√∂nk√∂ping'),
 Home(price=4200000, monthly_fee=2600, living_area=110.0, number_rooms=5, type='house', address='Bj√∂rkv√§gen 18, Norrk√∂ping'),
 Home(price=2300000, monthly_fee=3300, living_area=70.0, number_rooms=3, type='apartment', address='Drottninggatan 25, G√§vle'),
 Home(price=5100000, monthly_fee=2800, living_area=130.0, number_rooms=5, type='house', address='L√∂vbacken 7, Ume√•'),
 Home(price=1950000, monthly_fee=2900, living_area=58.0, number_rooms=2, type='apartment', address='S√∂dergatan 9, V√§ster√•s'),
 Home(price=3500000, monthly_fee=1900, living_area=95.0, number_rooms=4, type='house', address='√Ñngsv√§gen 12, Bor√•s'),
 Home(price=2700000, monthly_fee=4000, living_area=72.0, number_rooms=3, type='apartment', address='Ringv√§gen 40, Eskilstuna'),
 Home(price=4600000, monthly_fee=2400, living_area=125.0, number_rooms=5, type='house', address='Ekall√©n 3, Halmstad'),
 Home(price=1700000, monthly_fee=3000, living_area=48.0, number_rooms=2, type='apartment', address='Brunnsgatan 15, Karlstad'),
 Home(price=3000000, monthly_fee=1700, living_area=85.0, number_rooms=4, type='house', address='F√§ltv√§gen 9, Sundsvall'),
 Home(price=2400000, monthly_fee=3600, living_area=68.0, number_rooms=3, type='apartment', address='Nybrogatan 8, S√∂dert√§lje'),
 Home(price=5800000, monthly_fee=3200, living_area=160.0, number_rooms=6, type='house', address='Vippv√§gen 1, V√§xj√∂'),
 Home(price=2200000, monthly_fee=3400, living_area=62.0, number_rooms=2, type='apartment', address='Kyrkogatan 11, Lule√•'),
 Home(price=4100000, monthly_fee=2300, living_area=100.0, number_rooms=4, type='house', address='Tallstigen 5, Sk√∂vde'),
 Home(price=1750000, monthly_fee=2700, living_area=52.0, number_rooms=2, type='apartment', address='Fabriksgatan 6, Kalmar'),
 Home(price=3800000, monthly_fee=2000, living_area=115.0, number_rooms=5, type='house', address='Aspv√§gen 14, Falun'),
 Home(price=2600000, monthly_fee=3900, living_area=78.0, number_rooms=3, type='apartment', address='Tr√§dg√•rdsgatan 19, Trelleborg'),
 Home(price=4900000, monthly_fee=2700, living_area=135.0, number_rooms=5, type='house', address='Rosenv√§gen 20, Kristianstad'),
 Home(price=1850000, monthly_fee=3200, living_area=55.0, number_rooms=2, type='apartment', address='Slottsgatan 2, √ñstersund'),
 Home(price=3300000, monthly_fee=1600, living_area=92.0, number_rooms=4, type='house', address='F√•gelv√§gen 8, M√∂lndal'),
 Home(price=2000000, monthly_fee=4100, living_area=60.0, number_rooms=2, type='apartment', address='Postgatan 10, Solna'),
 Home(price=5300000, monthly_fee=2900, living_area=140.0, number_rooms=6, type='house', address='Granitv√§gen 6, Pite√•'),
 Home(price=1900000, monthly_fee=2600, living_area=54.0, number_rooms=2, type='apartment', address='K√∂pmangatan 17, Skellefte√•'),
 Home(price=3700000, monthly_fee=2100, living_area=98.0, number_rooms=4, type='house', address='Pilgatan 11, Uddevalla'),
 Home(price=2550000, monthly_fee=3700, living_area=73.0, number_rooms=3, type='apartment', address='J√§rnv√§gsgatan 1, Trollh√§ttan'),
 Home(price=4500000, monthly_fee=2500, living_area=122.0, number_rooms=5, type='house', address='Barrstigen 4, G√§vle'),
 Home(price=1650000, monthly_fee=2800, living_area=47.0, number_rooms=2, type='apartment', address='Stortorget 3, Visby'),
 Home(price=3100000, monthly_fee=1850, living_area=88.0, number_rooms=4, type='house', address='Klintv√§gen 16, Varberg'),
 Home(price=2800000, monthly_fee=4000, living_area=76.0, number_rooms=3, type='apartment', address='Fiskargatan 13, Enk√∂ping'),
 Home(price=5000000, monthly_fee=3000, living_area=138.0, number_rooms=6, type='house', address='√Ñppelv√§gen 7, Alings√•s'),
 Home(price=2050000, monthly_fee=3100, living_area=59.0, number_rooms=2, type='apartment', address='√ñstra Storgatan 22, Borl√§nge'),
 Home(price=4300000, monthly_fee=2200, living_area=108.0, number_rooms=5, type='house', address='Lingonv√§gen 9, Landskrona'),
 Home(price=1920000, monthly_fee=2950, living_area=56.0, number_rooms=2, type='apartment', address='Strandv√§gen 14, Ystad'),
 Home(price=3600000, monthly_fee=1950, living_area=96.0, number_rooms=4, type='house', address='Syrenv√§gen 17, Katrineholm'),
 Home(price=2750000, monthly_fee=3850, living_area=70.0, number_rooms=3, type='apartment', address='Biblioteksgatan 5, T√§by'),
 Home(price=4700000, monthly_fee=2650, living_area=128.0, number_rooms=5, type='house', address='Bj√∂rkstigen 21, Karlskrona'),
 Home(price=1780000, monthly_fee=3050, living_area=51.0, number_rooms=2, type='apartment', address='Kyrkbacken 1, K√∂ping'),
 Home(price=3400000, monthly_fee=1750, living_area=94.0, number_rooms=4, type='house', address='Parkgatan 10, Nyk√∂ping'),
 Home(price=2350000, monthly_fee=3550, living_area=67.0, number_rooms=3, type='apartment', address='Stenhagsgatan 8, Sandviken'),
 Home(price=5200000, monthly_fee=3150, living_area=145.0, number_rooms=6, type='house', address='Vildrosv√§gen 12, Lidk√∂ping'),
 Home(price=1820000, monthly_fee=2750, living_area=53.0, number_rooms=2, type='apartment', address='Centralplan 4, Mariestad'),
 Home(price=3950000, monthly_fee=2050, living_area=102.0, number_rooms=4, type='house', address='R√∂nnv√§gen 6, Bolln√§s')]

In [30]:
len(homes)

50

In [35]:
import pandas as pd

df = pd.DataFrame([home.__dict__ for home in homes])
df.head()

,price,monthly_fee,living_area,number_rooms,type,address
0,2500000,3500,75.5,3,apartment,"Storgatan 12, Stockholm"
1,4800000,2500,120.0,5,house,"V√§stra V√§gen 8, G√∂teborg"
2,1800000,2800,50.0,2,apartment,"Lilla All√©n 5, Malm√∂"
3,3200000,1800,90.0,4,house,"Gr√∂na Gatan 15, Uppsala"
4,2100000,4200,65.0,3,apartment,"Norra Parkv√§gen 7, Lund"

In [36]:
df.query("price < 3_000_000")

,price,monthly_fee,living_area,number_rooms,type,address
0,2500000,3500,75.5,3,apartment,"Storgatan 12, Stockholm"
2,1800000,2800,50.0,2,apartment,"Lilla All√©n 5, Malm√∂"
4,2100000,4200,65.0,3,apartment,"Norra Parkv√§gen 7, Lund"
6,1600000,3100,45.0,2,apartment,"√ñstra Hamngatan 3, Helsingborg"
8,2900000,3800,80.0,3,apartment,"Kungsgatan 1A, J√∂nk√∂ping"
10,2300000,3300,70.0,3,apartment,"Drottninggatan 25, G√§vle"
12,1950000,2900,58.0,2,apartment,"S√∂dergatan 9, V√§ster√•s"
14,2700000,4000,72.0,3,apartment,"Ringv√§gen 40, Eskilstuna"
16,1700000,3000,48.0,2,apartment,"Brunnsgatan 15, Karlstad"
18,2400000,3600,68.0,3,apartment,"Nybrogatan 8, S√∂dert√§lje"
20,2200000,3400,62.0,2,apartment,"Kyrkogatan 11, Lule√•"
22,1750000,2700,52.0,2,apartment,"Fabriksgatan 6, Kalmar"
24,2600000,3900,78.0,3,apartment,"Tr√§dg√•rdsgatan 19, Trelleborg"
26,1850000,3200,55.0,2,apartment,"Slottsgatan 2, √ñstersund"
28,2000000,4100,60.0,2,apartment,"Postgatan 10, Solna"
30,1900000,2600,54.0,2,apartment,"K√∂pmangatan 17, Skellefte√•"
32,2550000,3700,73.0,3,apartment,"J√§rnv√§gsgatan 1, Trollh√§ttan"
34,1650000,2800,47.0,2,apartment,"Stortorget 3, Visby"
36,2800000,4000,76.0,3,apartment,"Fiskargatan 13, Enk√∂ping"
38,2050000,3100,59.0,2,apartment,"√ñstra Storgatan 22, Borl√§nge"
40,1920000,2950,56.0,2,apartment,"Strandv√§gen 14, Ystad"
42,2750000,3850,70.0,3,apartment,"Biblioteksgatan 5, T√§by"
44,1780000,3050,51.0,2,apartment,"Kyrkbacken 1, K√∂ping"
46,2350000,3550,67.0,3,apartment,"Stenhagsgatan 8, Sandviken"
48,1820000,2750,53.0,2,apartment,"Centralplan 4, Mariestad"