<a href="https://colab.research.google.com/github/ancestor9/Data-Analyst-with-Gemini-/blob/main/9%EC%9D%BC%EC%B0%A8/AdventureSales_ETL_datamining.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **[Tutorial: From Excel workbook to a Power BI report in Microsoft Teams](https://learn.microsoft.com/en-us/power-bi/create-reports/service-from-excel-to-stunning-report)**

<img src='https://learn.microsoft.com/en-us/power-bi/create-reports/media/service-from-excel-to-stunning-report/power-bi-financial-report-service.png'>

## **1. 데이터 다운로드 하기**

>> #### 1.1. [직접 다운받기](https://github.com/microsoft/powerbi-desktop-samples/blob/main/AdventureWorks%20Sales%20Sample/AdventureWorks%20Sales.xlsx)

>> #### 1.2. Linux Bash 명령어로 다운 받는 법

In [2]:
# Linux Bash 명령어
! wget https://github.com/microsoft/powerbi-desktop-samples/raw/main/AdventureWorks%20Sales%20Sample/AdventureWorks%20Sales.xlsx

--2025-06-22 12:52:58--  https://github.com/microsoft/powerbi-desktop-samples/raw/main/AdventureWorks%20Sales%20Sample/AdventureWorks%20Sales.xlsx
Resolving github.com (github.com)... 20.27.177.113
Connecting to github.com (github.com)|20.27.177.113|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/microsoft/powerbi-desktop-samples/main/AdventureWorks%20Sales%20Sample/AdventureWorks%20Sales.xlsx [following]
--2025-06-22 12:52:58--  https://raw.githubusercontent.com/microsoft/powerbi-desktop-samples/main/AdventureWorks%20Sales%20Sample/AdventureWorks%20Sales.xlsx
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.111.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 14322931 (14M) [application/octet-stream]
Saving to: ‘AdventureWorks Sales.xlsx’

AdventureWorks Sale 100%[===================>]  13.66M  27.7MB/s    in 0.5s

2025-06-22 12:53:00 (27.7 MB/s) - ‘AdventureWorks Sales.xlsx’ saved [14322931/14322931]

In [3]:
# prompt: AdventureWorks Sales.xlsx는 7개의 시트(고객, 상품, 지역, 판매 등)를 모두 읽고 사전형태로 데이터를 저장해 다오
# To read multiple sheets from a single Excel file, we will use the pandas library.
# Below is an example of how you can read all sheets from an Excel file into a dictionary of DataFrames.

import pandas as pd

# Function to read all sheets from an Excel file
def read_excel_sheets(excel_file):
    # Using sheet_name=None reads all sheets, each sheet as a DataFrame in a dictionary
    sheets_dict = pd.read_excel(excel_file, sheet_name=None)
    return sheets_dict

sheets_dict = read_excel_sheets('/content/AdventureWorks Sales.xlsx')
sheets_dict.keys()

dict_keys(['Sales Order_data', 'Sales Territory_data', 'Sales_data', 'Reseller_data', 'Date_data', 'Product_data', 'Customer_data'])

<img src='https://miro.medium.com/v2/resize:fit:1100/format:webp/0*9UNgxNIu8-HgaxLa.png'>


>> #### 1.3. Python으로 다운 받는 방법

In [4]:
# prompt: https://github.com/microsoft/powerbi-desktop-samples/blob/main/AdventureWorks%20Sales%20Sample/AdventureWorks%20Sales.xlsx 파일은 여러 시트로 구성되어 있는데 모든 시트를 읽어줘

import pandas as pd

#!pip install pandas openpyxl


# Replace with the actual URL of your Excel file
url = "https://github.com/microsoft/powerbi-desktop-samples/raw/main/AdventureWorks%20Sales%20Sample/AdventureWorks%20Sales.xlsx"

try:
  xls = pd.ExcelFile(url)
  sheet_names = xls.sheet_names

  all_sheets_data = {}
  for sheet_name in sheet_names:
    df = pd.read_excel(url, sheet_name=sheet_name)
    print(df.head())
    all_sheets_data[sheet_name] = df
    print(f"Sheet '{sheet_name}' loaded successfully.")

except Exception as e:
  print(f"Error loading Excel file: {e}")

    Channel  SalesOrderLineKey Sales Order Sales Order Line
0  Reseller           43659001     SO43659      SO43659 - 1
1  Reseller           43659002     SO43659      SO43659 - 2
2  Reseller           43659003     SO43659      SO43659 - 3
3  Reseller           43659004     SO43659      SO43659 - 4
4  Reseller           43659005     SO43659      SO43659 - 5
Sheet 'Sales Order_data' loaded successfully.
   SalesTerritoryKey     Region        Country          Group
0                  1  Northwest  United States  North America
1                  2  Northeast  United States  North America
2                  3    Central  United States  North America
3                  4  Southwest  United States  North America
4                  5  Southeast  United States  North America
Sheet 'Sales Territory_data' loaded successfully.
   SalesOrderLineKey  ResellerKey  CustomerKey  ProductKey  OrderDateKey  \
0           43659001          676           -1         349      20170702
1           43659002          676           -1         350      20170702
2           43659003          676           -1         351      20170702
3           43659004          676           -1         344      20170702
4           43659005          676           -1         345      20170702

   DueDateKey  ShipDateKey  SalesTerritoryKey  Order Quantity  Unit Price  \
0    20170712   20170709.0                  5               1    2024.994
1    20170712   20170709.0                  5               3    2024.994
2    20170712   20170709.0                  5               1    2024.994
3    20170712   20170709.0                  5               1    2039.994
4    20170712   20170709.0                  5               1    2039.994

   Extended Amount  Unit Price Discount Pct  Product Standard Cost  \
0         2024.994                        0              1898.0944
1         6074.982                        0              1898.0944
2         2024.994                        0              1898.0944
3         2039.994                        0              1912.1544
4         2039.994                        0              1912.1544

   Total Product Cost  Sales Amount
0           1898.0944      2024.994
1           5694.2832      6074.982
2           1898.0944      2024.994
3           1912.1544      2039.994
4           1912.1544      2039.994
Sheet 'Sales_data' loaded successfully.
   ResellerKey       Reseller ID         Business Type  \
0           -1  [Not Applicable]      [Not Applicable]
1            1        AW00000001  Value Added Reseller
2            2        AW00000002   Specialty Bike Shop
3            3        AW00000003             Warehouse
4            4        AW00000004  Value Added Reseller

                   Reseller              City    State-Province  \
0          [Not Applicable]  [Not Applicable]  [Not Applicable]
1              A Bike Store           Seattle        Washington
2        Progressive Sports            Renton        Washington
3  Advanced Bike Components            Irving             Texas
4     Modular Cycle Systems            Austin             Texas

     Country-Region       Postal Code
0  [Not Applicable]  [Not Applicable]
1     United States             98104
2     United States             98055
3     United States             75061
4     United States             78701
Sheet 'Reseller_data' loaded successfully.
    DateKey       Date Fiscal Year Fiscal Quarter     Month     Full Date  \
0  20170701 2017-07-01      FY2018      FY2018 Q1  2017 Jul  2017 Jul, 01
1  20170702 2017-07-02      FY2018      FY2018 Q1  2017 Jul  2017 Jul, 02
2  20170703 2017-07-03      FY2018      FY2018 Q1  2017 Jul  2017 Jul, 03
3  20170704 2017-07-04      FY2018      FY2018 Q1  2017 Jul  2017 Jul, 04
4  20170705 2017-07-05      FY2018      FY2018 Q1  2017 Jul  2017 Jul, 05

   MonthKey
0    201707
1    201707
2    201707
3    201707
4    201707
Sheet 'Date_data' loaded successfully.
   ProductKey         SKU                    Product  Standard Cost  Color  \
0         210  FR-R92B-58  HL Road Frame - Black, 58       868.6342  Black
1         211  FR-R92R-58    HL Road Frame - Red, 58       868.6342    Red
2         212   HL-U509-R      Sport-100 Helmet, Red        12.0278    Red
3         213   HL-U509-R      Sport-100 Helmet, Red        13.8782    Red
4         214   HL-U509-R      Sport-100 Helmet, Red        13.0863    Red

   List Price          Model  Subcategory     Category
0   1431.5000  HL Road Frame  Road Frames   Components
1   1431.5000  HL Road Frame  Road Frames   Components
2     33.6442      Sport-100      Helmets  Accessories
3     33.6442      Sport-100      Helmets  Accessories
4     34.9900      Sport-100      Helmets  Accessories
Sheet 'Product_data' loaded successfully.
   CustomerKey       Customer ID          Customer              City  \
0           -1  [Not Applicable]  [Not Applicable]  [Not Applicable]
1        11000        AW00011000          Jon Yang       Rockhampton
2        11001        AW00011001      Eugene Huang           Seaford
3        11002        AW00011002      Ruben Torres            Hobart
4        11003        AW00011003       Christy Zhu        North Ryde

     State-Province    Country-Region       Postal Code
0  [Not Applicable]  [Not Applicable]  [Not Applicable]
1        Queensland         Australia              4700
2          Victoria         Australia              3198
3          Tasmania         Australia              7001
4   New South Wales         Australia              2113
Sheet 'Customer_data' loaded successfully.

In [5]:
all_sheets_data

{'Sales Order_data':          Channel  SalesOrderLineKey Sales Order Sales Order Line
 0       Reseller           43659001     SO43659      SO43659 - 1
 1       Reseller           43659002     SO43659      SO43659 - 2
 2       Reseller           43659003     SO43659      SO43659 - 3
 3       Reseller           43659004     SO43659      SO43659 - 4
 4       Reseller           43659005     SO43659      SO43659 - 5
 ...          ...                ...         ...              ...
 121248  Internet           75122001     SO75122      SO75122 - 1
 121249  Internet           75122002     SO75122      SO75122 - 2
 121250  Internet           75123001     SO75123      SO75123 - 1
 121251  Internet           75123002     SO75123      SO75123 - 2
 121252  Internet           75123003     SO75123      SO75123 - 3

 [121253 rows x 4 columns],
 'Sales Territory_data':     SalesTerritoryKey          Region         Country          Group
 0                   1       Northwest   United States  North America
 1                   2       Northeast   United States  North America
 2                   3         Central   United States  North America
 3                   4       Southwest   United States  North America
 4                   5       Southeast   United States  North America
 5                   6          Canada          Canada  North America
 6                   7          France          France         Europe
 7                   8         Germany         Germany         Europe
 8                   9       Australia       Australia        Pacific
 9                  10  United Kingdom  United Kingdom         Europe
 10                 11    Corporate HQ    Corporate HQ   Corporate HQ,
 'Sales_data':         SalesOrderLineKey  ResellerKey  CustomerKey  ProductKey  OrderDateKey  \
 0                43659001          676           -1         349      20170702
 1                43659002          676           -1         350      20170702
 2                43659003          676           -1         351      20170702
 3                43659004          676           -1         344      20170702
 4                43659005          676           -1         345      20170702
 ...                   ...          ...          ...         ...           ...
 121248           75122001           -1        15868         485      20200615
 121249           75122002           -1        15868         225      20200615
 121250           75123001           -1        18759         485      20200615
 121251           75123002           -1        18759         486      20200615
 121252           75123003           -1        18759         225      20200615

         DueDateKey  ShipDateKey  SalesTerritoryKey  Order Quantity  \
 0         20170712   20170709.0                  5               1
 1         20170712   20170709.0                  5               3
 2         20170712   20170709.0                  5               1
 3         20170712   20170709.0                  5               1
 4         20170712   20170709.0                  5               1
 ...            ...          ...                ...             ...
 121248    20200625          NaN                  6               1
 121249    20200625          NaN                  6               1
 121250    20200625          NaN                  6               1
 121251    20200625          NaN                  6               1
 121252    20200625          NaN                  6               1

         Unit Price  Extended Amount  Unit Price Discount Pct  \
 0         2024.994         2024.994                        0
 1         2024.994         6074.982                        0
 2         2024.994         2024.994                        0
 3         2039.994         2039.994                        0
 4         2039.994         2039.994                        0
 ...            ...              ...                      ...
 121248      21.980           21.980                        0
 121249       8.990            8.990                        0
 121250      21.980           21.980                        0
 121251     159.000          159.000                        0
 121252       8.990            8.990                        0

         Product Standard Cost  Total Product Cost  Sales Amount
 0                   1898.0944           1898.0944      2024.994
 1                   1898.0944           5694.2832      6074.982
 2                   1898.0944           1898.0944      2024.994
 3                   1912.1544           1912.1544      2039.994
 4                   1912.1544           1912.1544      2039.994
 ...                       ...                 ...           ...
 121248                 8.2205              8.2205        21.980
 121249                 6.9223              6.9223         8.990
 121250                 8.2205              8.2205        21.980
 121251                59.4660             59.4660       159.000
 121252                 6.9223              6.9223         8.990

 [121253 rows x 15 columns],
 'Reseller_data':      ResellerKey       Reseller ID         Business Type  \
 0             -1  [Not Applicable]      [Not Applicable]
 1              1        AW00000001  Value Added Reseller
 2              2        AW00000002   Specialty Bike Shop
 3              3        AW00000003             Warehouse
 4              4        AW00000004  Value Added Reseller
 ..           ...               ...                   ...
 697          697        AW00000697  Value Added Reseller
 698          698        AW00000698   Specialty Bike Shop
 699          699        AW00000699             Warehouse
 700          700        AW00000700  Value Added Reseller
 701          701        AW00000701             Warehouse

                           Reseller              City    State-Province  \
 0                 [Not Applicable]  [Not Applicable]  [Not Applicable]
 1                     A Bike Store           Seattle        Washington
 2               Progressive Sports            Renton        Washington
 3         Advanced Bike Components            Irving             Texas
 4            Modular Cycle Systems            Austin             Texas
 ..                             ...               ...               ...
 697               Brakes and Gears            Tooele              Utah
 698          Western Bike Supplies        Cedar City              Utah
 699     Sensational Discount Store        Kannapolis    North Carolina
 700  Underglaze and Finish Company         Charlotte    North Carolina
 701                   Future Bikes           Calgary           Alberta

        Country-Region       Postal Code
 0    [Not Applicable]  [Not Applicable]
 1       United States             98104
 2       United States             98055
 3       United States             75061
 4       United States             78701
 ..                ...               ...
 697     United States             84074
 698     United States             84720
 699     United States             28081
 700     United States             28202
 701            Canada           T2P 2G8

 [702 rows x 8 columns],
 'Date_data':        DateKey       Date Fiscal Year Fiscal Quarter     Month     Full Date  \
 0     20170701 2017-07-01      FY2018      FY2018 Q1  2017 Jul  2017 Jul, 01
 1     20170702 2017-07-02      FY2018      FY2018 Q1  2017 Jul  2017 Jul, 02
 2     20170703 2017-07-03      FY2018      FY2018 Q1  2017 Jul  2017 Jul, 03
 3     20170704 2017-07-04      FY2018      FY2018 Q1  2017 Jul  2017 Jul, 04
 4     20170705 2017-07-05      FY2018      FY2018 Q1  2017 Jul  2017 Jul, 05
 ...        ...        ...         ...            ...       ...           ...
 1456  20210626 2021-06-26      FY2021      FY2021 Q4  2021 Jun  2021 Jun, 26
 1457  20210627 2021-06-27      FY2021      FY2021 Q4  2021 Jun  2021 Jun, 27
 1458  20210628 2021-06-28      FY2021      FY2021 Q4  2021 Jun  2021 Jun, 28
 1459  20210629 2021-06-29      FY2021      FY2021 Q4  2021 Jun  2021 Jun, 29
 1460  20210630 2021-06-30      FY2021      FY2021 Q4  2021 Jun  2021 Jun, 30

       MonthKey
 0       201707
 1       201707
 2       201707
 3       201707
 4       201707
 ...        ...
 1456    202106
 1457    202106
 1458    202106
 1459    202106
 1460    202106

 [1461 rows x 7 columns],
 'Product_data':      ProductKey         SKU                    Product  Standard Cost  Color  \
 0           210  FR-R92B-58  HL Road Frame - Black, 58       868.6342  Black
 1           211  FR-R92R-58    HL Road Frame - Red, 58       868.6342    Red
 2           212   HL-U509-R      Sport-100 Helmet, Red        12.0278    Red
 3           213   HL-U509-R      Sport-100 Helmet, Red        13.8782    Red
 4           214   HL-U509-R      Sport-100 Helmet, Red        13.0863    Red
 ..          ...         ...                        ...            ...    ...
 392         602     BB-8107          ML Bottom Bracket        44.9506    NaN
 393         603     BB-9108          HL Bottom Bracket        53.9416    NaN
 394         604  BK-R19B-44         Road-750 Black, 44       343.6496  Black
 395         605  BK-R19B-48         Road-750 Black, 48       343.6496  Black
 396         606  BK-R19B-52         Road-750 Black, 52       343.6496  Black

      List Price              Model      Subcategory     Category
 0     1431.5000      HL Road Frame      Road Frames   Components
 1     1431.5000      HL Road Frame      Road Frames   Components
 2       33.6442          Sport-100          Helmets  Accessories
 3       33.6442          Sport-100          Helmets  Accessories
 4       34.9900          Sport-100          Helmets  Accessories
 ..          ...                ...              ...          ...
 392    101.2400  ML Bottom Bracket  Bottom Brackets   Components
 393    121.4900  HL Bottom Bracket  Bottom Brackets   Components
 394    539.9900           Road-750       Road Bikes        Bikes
 395    539.9900           Road-750       Road Bikes        Bikes
 396    539.9900           Road-750       Road Bikes        Bikes

 [397 rows x 9 columns],
 'Customer_data':        CustomerKey       Customer ID          Customer              City  \
 0               -1  [Not Applicable]  [Not Applicable]  [Not Applicable]
 1            11000        AW00011000          Jon Yang       Rockhampton
 2            11001        AW00011001      Eugene Huang           Seaford
 3            11002        AW00011002      Ruben Torres            Hobart
 4            11003        AW00011003       Christy Zhu        North Ryde
 ...            ...               ...               ...               ...
 18480        29479        AW00029479        Tommy Tang        Versailles
 18481        29480        AW00029480         Nina Raji            London
 18482        29481        AW00029481         Ivan Suri               Hof
 18483        29482        AW00029482     Clayton Zhang        Saint Ouen
 18484        29483        AW00029483     Jésus Navarro  Paris La Defense

           State-Province    Country-Region       Postal Code
 0       [Not Applicable]  [Not Applicable]  [Not Applicable]
 1             Queensland         Australia              4700
 2               Victoria         Australia              3198
 3               Tasmania         Australia              7001
 4        New South Wales         Australia              2113
 ...                  ...               ...               ...
 18480            Yveline            France             78000
 18481            England    United Kingdom          SW19 3RU
 18482             Bayern           Germany             95010
 18483  Charente-Maritime            France             17490
 18484     Hauts de Seine            France             92081

 [18485 rows x 7 columns]}

## **2. 데이터베이스에 저장하기**

In [6]:
# prompt: all_sheets_data의 모든 데이터프레임을 sqlite3를 사용하여 DB를 만들고 각 테이블로 저장하라

import sqlite3

# Create a database connection
conn = sqlite3.connect('adventure_sales.db')

# Iterate through the dictionary of DataFrames and save each to a table
for sheet_name, df in all_sheets_data.items():
  # Replace spaces in sheet names with underscores for valid table names
  table_name = sheet_name.replace(" ", "_")
  df.to_sql(table_name, conn, index=False, if_exists='replace')
  print(f"DataFrame for sheet '{sheet_name}' saved to table '{table_name}'.")

# Close the connection
conn.close()

DataFrame for sheet 'Sales Order_data' saved to table 'Sales_Order_data'.
DataFrame for sheet 'Sales Territory_data' saved to table 'Sales_Territory_data'.
DataFrame for sheet 'Sales_data' saved to table 'Sales_data'.
DataFrame for sheet 'Reseller_data' saved to table 'Reseller_data'.
DataFrame for sheet 'Date_data' saved to table 'Date_data'.
DataFrame for sheet 'Product_data' saved to table 'Product_data'.
DataFrame for sheet 'Customer_data' saved to table 'Customer_data'.

In [7]:
# prompt: with 구문으로 코드를 만들어주라

# Create a database connection using the with statement
with sqlite3.connect('adventure_sales.db') as conn:
    # Iterate through the dictionary of DataFrames and save each to a table
    for sheet_name, df in all_sheets_data.items():
      # Replace spaces in sheet names with underscores for valid table names
      table_name = sheet_name.replace(" ", "_")
      df.to_sql(table_name, conn, index=False, if_exists='replace')
      print(f"DataFrame for sheet '{sheet_name}' saved to table '{table_name}'.")

DataFrame for sheet 'Sales Order_data' saved to table 'Sales_Order_data'.
DataFrame for sheet 'Sales Territory_data' saved to table 'Sales_Territory_data'.
DataFrame for sheet 'Sales_data' saved to table 'Sales_data'.
DataFrame for sheet 'Reseller_data' saved to table 'Reseller_data'.
DataFrame for sheet 'Date_data' saved to table 'Date_data'.
DataFrame for sheet 'Product_data' saved to table 'Product_data'.
DataFrame for sheet 'Customer_data' saved to table 'Customer_data'.

In [11]:
# prompt: Sales_data의 내용을 retrive해줘

import pandas as pd
# Create a database connection
conn = sqlite3.connect('adventure_sales.db')

# Read the data from the Sales_Data table
sales_data_df = pd.read_sql_query("SELECT * FROM Sales_Data", conn)

# Close the connection
conn.close()

# Display the retrieved data
sales_data_df.head()

,SalesOrderLineKey,ResellerKey,CustomerKey,ProductKey,OrderDateKey,DueDateKey,ShipDateKey,SalesTerritoryKey,Order Quantity,Unit Price,Extended Amount,Unit Price Discount Pct,Product Standard Cost,Total Product Cost,Sales Amount
0,43659001,676,-1,349,20170702,20170712,20170709.0,5,1,2024.994,2024.994,0,1898.0944,1898.0944,2024.994
1,43659002,676,-1,350,20170702,20170712,20170709.0,5,3,2024.994,6074.982,0,1898.0944,5694.2832,6074.982
2,43659003,676,-1,351,20170702,20170712,20170709.0,5,1,2024.994,2024.994,0,1898.0944,1898.0944,2024.994
3,43659004,676,-1,344,20170702,20170712,20170709.0,5,1,2039.994,2039.994,0,1912.1544,1912.1544,2039.994
4,43659005,676,-1,345,20170702,20170712,20170709.0,5,1,2039.994,2039.994,0,1912.1544,1912.1544,2039.994

## **EDA, 시각화, RFM 분석**