<a href="https://colab.research.google.com/github/ancestor9/2025_Fall_AI-Model-Operations-MLOps/blob/main/week06/Python_Database.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##  Hands-on : Database with python
### 1. superbaseì— ê°€ì…í•˜ê³  í”„ë¡œì íŠ¸ë¥¼ ìƒì„±í•œ í›„
### 2. sqlite3ë¡œ DBë¥¼ ë§Œë“¤ê³  "movie" ë°ì´í„° ìƒì„±
### 3. ì—‘ì…€ë¡œ ë‹¤ìš´ë°›ê³ 
### 4. superbaseì—ì„œ ì €ì¥í•˜ê¸°

### **1. [supabase](https://supabase.com/) í´ë¼ìš°ë“œ ë°ì´í„°ë² ì´ìŠ¤ ë§Œë“¤ê¸°**
- https://supabase.com/dashboard/project/gjuciogiegqiimposzkc

In [1]:
!pip install supabase python-dotenv -q

In [2]:
from google.colab import userdata
from supabase import create_client, Client

# Colab Secretsì—ì„œ URLê³¼ Keyë¥¼ ê°€ì ¸ì˜µë‹ˆë‹¤.
# Colab Secret Managerë¥¼ ì‚¬ìš©í•˜ë©´ os.environ ëŒ€ì‹  userdata.get()ì„ ì‚¬ìš©í•©ë‹ˆë‹¤.
supabase_key: str = userdata.get('superbase')

# Supabase URL ë° Key ì„¤ì • (JavaScript ì½”ë“œì™€ ë™ì¼í•œ ê°’ ì‚¬ìš©)
supabase_url: str = 'https://gjuciogiegqiimposzkc.supabase.co'

# Supabase í´ë¼ì´ì–¸íŠ¸ ìƒì„±
if supabase_url and supabase_key:
    supabase: Client = create_client(supabase_url, supabase_key)
    print("âœ… Supabase í´ë¼ì´ì–¸íŠ¸ê°€ ì„±ê³µì ìœ¼ë¡œ ì—°ê²°ë˜ì—ˆìŠµë‹ˆë‹¤.")
else:
    print("âš ï¸ Colab Secretsì—ì„œ SUPABASE_URL ë˜ëŠ” SUPABASE_KEYë¥¼ ì°¾ì„ ìˆ˜ ì—†ìŠµë‹ˆë‹¤. Secret ì„¤ì •ì„ í™•ì¸í•´ì£¼ì„¸ìš”.")

âœ… Supabase í´ë¼ì´ì–¸íŠ¸ê°€ ì„±ê³µì ìœ¼ë¡œ ì—°ê²°ë˜ì—ˆìŠµë‹ˆë‹¤.

### superbaseì— í…Œì´ë¸”ì„ ë§Œë“¤ì§€ ì•Šì•„ì„œ No Tables

### **2. [sqlite3 â€” DB-API 2.0 interface for SQLite databases](https://docs.python.org/3/library/sqlite3.html)**

In [3]:
import sqlite3
con = sqlite3.connect("tutorial.db")

In [4]:
cur = con.cursor()

In [5]:
cur.execute("CREATE TABLE movie(title, year, score)")

In [6]:
res = cur.execute("SELECT name FROM sqlite_master")
res.fetchone()

('movie',)

In [7]:
res = cur.execute("SELECT name FROM sqlite_master WHERE name='spam'")
res.fetchone() is None

True

In [8]:
cur.execute("""
    INSERT INTO movie VALUES
        ('Monty Python and the Holy Grail', 1975, 8.2),
        ('And Now for Something Completely Different', 1971, 7.5)
""")

In [9]:
con.commit()

In [10]:
res = cur.execute("SELECT score FROM movie")
res.fetchall()

[(8.2,), (7.5,)]

In [11]:
data = [
    ("Monty Python Live at the Hollywood Bowl", 1982, 7.9),
    ("Monty Python's The Meaning of Life", 1983, 7.5),
    ("Monty Python's Life of Brian", 1979, 8.0),
]
cur.executemany("INSERT INTO movie VALUES(?, ?, ?)", data)
con.commit()  # Remember to commit the transaction after executing INSERT.

In [12]:
for row in cur.execute("SELECT year, title FROM movie ORDER BY year"):
    print(row)

(1971, 'And Now for Something Completely Different')
(1975, 'Monty Python and the Holy Grail')
(1979, "Monty Python's Life of Brian")
(1982, 'Monty Python Live at the Hollywood Bowl')
(1983, "Monty Python's The Meaning of Life")

In [13]:
con.close()
new_con = sqlite3.connect("tutorial.db")
new_cur = new_con.cursor()
res = new_cur.execute("SELECT title, year FROM movie ORDER BY score DESC")
title, year = res.fetchone()
print(f'The highest scoring Monty Python movie is {title!r}, released in {year}')

new_con.close()

The highest scoring Monty Python movie is 'Monty Python and the Holy Grail', released in 1975

### **3. ë°ì´í„°í”„ë ˆì„ìœ¼ë¡œ ë‹¤ìš´ë°›ê³  ì—‘ì…€ë¡œ ë‚´ë³´ë‚´ê¸°**

In [14]:
import pandas as pd
# Connect to the database
con = sqlite3.connect("tutorial.db")

# Read the table into a pandas DataFrame
df = pd.read_sql_query("SELECT * FROM movie", con)

# Display the DataFrame
display(df)

# Close the connection
con.close()

                                        title  year  score
0             Monty Python and the Holy Grail  1975    8.2
1  And Now for Something Completely Different  1971    7.5
2     Monty Python Live at the Hollywood Bowl  1982    7.9
3          Monty Python's The Meaning of Life  1983    7.5
4                Monty Python's Life of Brian  1979    8.0

In [15]:
df.to_excel("movie.xlsx")

### **4. superbaseë¡œ uploadí•˜ê³  í™•ì¸í•˜ê¸°**

In [16]:

# # Colab Secretsì—ì„œ URLê³¼ Keyë¥¼ ê°€ì ¸ì˜µë‹ˆë‹¤.
# supabase_url: str = 'https://gjuciogiegqiimposzkc.supabase.co'
# supabase_key: str = userdata.get('supabase') # Use the correct secret name 'supabase'

# Supabase í´ë¼ì´ì–¸íŠ¸ ìƒì„±
if supabase_url and supabase_key:
    supabase: Client = create_client(supabase_url, supabase_key)
    print("âœ… Supabase í´ë¼ì´ì–¸íŠ¸ê°€ ì„±ê³µì ìœ¼ë¡œ ì—°ê²°ë˜ì—ˆìŠµë‹ˆë‹¤.")

    # DataFrameì„ Supabaseì— ì‚½ì…
    # 'movie'ëŠ” Supabaseì— ìƒì„±ë  í…Œì´ë¸” ì´ë¦„ì…ë‹ˆë‹¤.
    # upsert=TrueëŠ” ì¶©ëŒ ë°œìƒ ì‹œ ì—…ë°ì´íŠ¸í•˜ë„ë¡ ì„¤ì •í•©ë‹ˆë‹¤.
    try:
        # Convert DataFrame to a list of dictionaries for Supabase insertion
        data_to_insert = df.to_dict('records')

        response = supabase.table("movie").insert(data_to_insert).execute()

        if response:
            print("âœ… ë°ì´í„°ê°€ Supabaseì— ì„±ê³µì ìœ¼ë¡œ ì—…ë¡œë“œë˜ì—ˆìŠµë‹ˆë‹¤.")
            # print("ì‘ë‹µ:", response) # Uncomment to see the response

        else:
            print("âš ï¸ ë°ì´í„° ì—…ë¡œë“œì— ì‹¤íŒ¨í–ˆìŠµë‹ˆë‹¤.")
            # print("ì‘ë‹µ:", response) # Uncomment to see the response


    except Exception as e:
        print(f"âŒ ë°ì´í„° ì—…ë¡œë“œ ì¤‘ ì˜¤ë¥˜ê°€ ë°œìƒí–ˆìŠµë‹ˆë‹¤: {e}")

else:
    print("âš ï¸ Colab Secretsì—ì„œ SUPABASE_URL ë˜ëŠ” SUPABASE_KEYë¥¼ ì°¾ì„ ìˆ˜ ì—†ìŠµë‹ˆë‹¤. Secret ì„¤ì •ì„ í™•ì¸í•´ì£¼ì„¸ìš”.")

âœ… Supabase í´ë¼ì´ì–¸íŠ¸ê°€ ì„±ê³µì ìœ¼ë¡œ ì—°ê²°ë˜ì—ˆìŠµë‹ˆë‹¤.
âœ… ë°ì´í„°ê°€ Supabaseì— ì„±ê³µì ìœ¼ë¡œ ì—…ë¡œë“œë˜ì—ˆìŠµë‹ˆë‹¤.

In [17]:
# DataFrameì„ JSONìœ¼ë¡œ ë³€í™˜ (orient='records'ë¡œ ë¦¬ìŠ¤íŠ¸ í˜•íƒœ ìƒì„±)
movies_data = df.to_dict(orient='records')
movies_data

[{'title': 'Monty Python and the Holy Grail', 'year': 1975, 'score': 8.2},
 {'title': 'And Now for Something Completely Different',
  'year': 1971,
  'score': 7.5},
 {'title': 'Monty Python Live at the Hollywood Bowl',
  'year': 1982,
  'score': 7.9},
 {'title': "Monty Python's The Meaning of Life", 'year': 1983, 'score': 7.5},
 {'title': "Monty Python's Life of Brian", 'year': 1979, 'score': 8.0}]

#### **ë¨¼ì € Supabaseì—ì„œ "movie" í…Œì´ë¸”ì„ ìƒì„±í•´ì•¼ í•¨**

In [18]:
'''
CREATE TABLE movie (
  id BIGSERIAL PRIMARY KEY,
  title TEXT NOT NULL,
  year INTEGER NOT NULL,
  score DOUBLE PRECISION NOT NULL,
  created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

-- RLS ë¹„í™œì„±í™” (ê°œë°œ/í…ŒìŠ¤íŠ¸ìš©)
ALTER TABLE movie DISABLE ROW LEVEL SECURITY;
'''

'\nCREATE TABLE movie (\n  id BIGSERIAL PRIMARY KEY,\n  title TEXT NOT NULL,\n  year INTEGER NOT NULL,\n  score DOUBLE PRECISION NOT NULL,\n  created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()\n);\n\n-- RLS ë¹„í™œì„±í™” (ê°œë°œ/í…ŒìŠ¤íŠ¸ìš©)\nALTER TABLE movie DISABLE ROW LEVEL SECURITY;\n'

In [19]:
# # Supabase ì—°ê²° ì„¤ì •
# supabase_key: str = userdata.get('superbase')
# supabase_url: str = 'https://gjuciogiegqiimposzkc.supabase.co'

# Supabase í´ë¼ì´ì–¸íŠ¸ ìƒì„±
if supabase_url and supabase_key:
    supabase: Client = create_client(supabase_url, supabase_key)
    print("âœ… Supabase í´ë¼ì´ì–¸íŠ¸ê°€ ì„±ê³µì ìœ¼ë¡œ ì—°ê²°ë˜ì—ˆìŠµë‹ˆë‹¤.")
else:
    print("âš ï¸ Colab Secretsì—ì„œ SUPABASE_URL ë˜ëŠ” SUPABASE_KEYë¥¼ ì°¾ì„ ìˆ˜ ì—†ìŠµë‹ˆë‹¤.")
    exit()

# DataFrameì„ JSONìœ¼ë¡œ ë³€í™˜ (orient='records'ë¡œ ë¦¬ìŠ¤íŠ¸ í˜•íƒœ ìƒì„±)
movies_data = df.to_dict(orient='records')

print("ğŸ“ JSON í˜•íƒœë¡œ ë³€í™˜ëœ ë°ì´í„°:")
print(movies_data)
print()

try:
    # ë°ì´í„° ì‚½ì…
    print("ğŸ“¤ ì˜í™” ë°ì´í„°ë¥¼ Supabaseì— ì—…ë¡œë“œ ì¤‘...")
    response = supabase.table('movie').insert(movies_data).execute()

    print(f"âœ… {len(movies_data)}ê°œì˜ ì˜í™” ë°ì´í„°ê°€ ì„±ê³µì ìœ¼ë¡œ ì €ì¥ë˜ì—ˆìŠµë‹ˆë‹¤!")
    print("\nì €ì¥ëœ ë°ì´í„°:")

    # ì €ì¥ëœ ë°ì´í„° í™•ì¸
    result = supabase.table('movie').select("*").execute()
    result_df = pd.DataFrame(result.data)
    print(result_df.to_string(index=False))

except Exception as e:
    print(f"âŒ ì˜¤ë¥˜ ë°œìƒ: {str(e)}")

âœ… Supabase í´ë¼ì´ì–¸íŠ¸ê°€ ì„±ê³µì ìœ¼ë¡œ ì—°ê²°ë˜ì—ˆìŠµë‹ˆë‹¤.
ğŸ“ JSON í˜•íƒœë¡œ ë³€í™˜ëœ ë°ì´í„°:
[{'title': 'Monty Python and the Holy Grail', 'year': 1975, 'score': 8.2}, {'title': 'And Now for Something Completely Different', 'year': 1971, 'score': 7.5}, {'title': 'Monty Python Live at the Hollywood Bowl', 'year': 1982, 'score': 7.9}, {'title': "Monty Python's The Meaning of Life", 'year': 1983, 'score': 7.5}, {'title': "Monty Python's Life of Brian", 'year': 1979, 'score': 8.0}]

ğŸ“¤ ì˜í™” ë°ì´í„°ë¥¼ Supabaseì— ì—…ë¡œë“œ ì¤‘...
âœ… 5ê°œì˜ ì˜í™” ë°ì´í„°ê°€ ì„±ê³µì ìœ¼ë¡œ ì €ì¥ë˜ì—ˆìŠµë‹ˆë‹¤!

ì €ì¥ëœ ë°ì´í„°:
 id                                      title  year  score                       created_at
  1            Monty Python and the Holy Grail  1975    8.2 2025-10-11T15:43:59.023636+00:00
  2 And Now for Something Completely Different  1971    7.5 2025-10-11T15:43:59.023636+00:00
  3    Monty Python Live at the Hollywood Bowl  1982    7.9 2025-10-11T15:43:59.023636+00:00
  4         Monty Python's The Meaning of Life  1983    7.5 2025-10-11T15:43:59.023636+00:00
  5               Monty Python's Life of Brian  1979    8.0 2025-10-11T15:43:59.023636+00:00
  6            Monty Python and the Holy Grail  1975    8.2 2025-10-11T15:43:59.023636+00:00
  7 And Now for Something Completely Different  1971    7.5 2025-10-11T15:43:59.023636+00:00
  8    Monty Python Live at the Hollywood Bowl  1982    7.9 2025-10-11T15:43:59.023636+00:00
  9         Monty Python's The Meaning of Life  1983    7.5 2025-10-11T15:43:59.023636+00:00
 10               Monty Python's Life of Brian  1979    8.0 2025-10-11T15:43:59.023636+00:00
 11            Monty Python and the Holy Grail  1975    8.2  2025-10-11T15:50:22.99991+00:00
 12 And Now for Something Completely Different  1971    7.5  2025-10-11T15:50:22.99991+00:00
 13    Monty Python Live at the Hollywood Bowl  1982    7.9  2025-10-11T15:50:22.99991+00:00
 14         Monty Python's The Meaning of Life  1983    7.5  2025-10-11T15:50:22.99991+00:00
 15               Monty Python's Life of Brian  1979    8.0  2025-10-11T15:50:22.99991+00:00
 16            Monty Python and the Holy Grail  1975    8.2 2025-10-11T15:50:23.668807+00:00
 17 And Now for Something Completely Different  1971    7.5 2025-10-11T15:50:23.668807+00:00
 18    Monty Python Live at the Hollywood Bowl  1982    7.9 2025-10-11T15:50:23.668807+00:00
 19         Monty Python's The Meaning of Life  1983    7.5 2025-10-11T15:50:23.668807+00:00
 20               Monty Python's Life of Brian  1979    8.0 2025-10-11T15:50:23.668807+00:00